@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    body {
        @apply overflow-hidden;
    }
/* 
    *{
        border: 1px solid red;
    } */

    .scrollBar-y {
        @apply
            md:scrollbar md:scrollbar-track-gray-400/20 md:scrollbar-thumb-[#f7ab0a]/80
    }
    .heroButton {
        @apply px-6 py-2 border-[#242424] rounded-full uppercase text-xs
        tracking-widest text-gray-500 transition-all hover:text-[#f7ab0a]/40 active:text-[#f7ab0a]/40 
        border-2
        hover:border-[#f7ab0a]/40 active:border-[#f7ab0a]/40
    }
    /* Style Application */
    #app {
        @apply bg-[rgb(36,36,36)] text-white h-screen 
        overflow-hidden overflow-y-scroll snap-y snap-mandatory z-0 scrollBar-y;
    }

    /* Styles Header */
    #app header {
        @apply sticky top-0 p-5 flex items-start 
        justify-between max-w-7xl 
        mx-auto z-20 xl:items-center
    }

    #app header #socialIcon {
        @apply flex flex-row items-center
    }

    #app header #email {
        @apply cursor-pointer flex flex-row items-center 
        text-gray-300
    }
    
    #app header #email p {
        @apply uppercase hidden md:inline-flex text-sm text-gray-400
    }

    /* Generic Styles */

    section {
        @apply min-h-screen w-screen flex items-center justify-center;
    }
    .container {
        @apply min-h-screen flex flex-col items-center justify-center relative text-center;
        min-height: 1000px;
    }

    .title {
        @apply mt-10 uppercase tracking-[5px] text-gray-500 text-2xl;
    }

    .contactInput {
        @apply outline-none bg-slate-400/10 px-6 py-4 rounded-sm border-b border-[#242424]
        text-gray-500 placeholder-gray-500 transition-all focus:border-[#f7ab0a]/40
        focus:text-[#f7ab0a]/60 focus:border-[#f7ab0a]/40;
    }
}